<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thoughtworks.ketsu.infrastructure.mybatis.mappers.OrderMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="info.id">
        INSERT INTO orders (name, address, phone, user_id)
        VALUES (#{info.name}, #{info.address}, #{info.phone}, #{userId});

        SET @ORDER_ID = LAST_INSERT_ID();

        INSERT INTO orderItems(order_id, product_id, quantity, amount)
        <foreach collection="info.order_items" item="item" open="(" separator="," close=")">
            SELECT @ORDER_ID, id, #{item.quantity}, price
            FROM products
            WHERE id = #{item.product_id}
        </foreach>
    </insert>

    <select id="findById" resultMap="records.order">
        SELECT
        <include refid="columns.order"/>
        FROM orders
        LEFT JOIN orderItems ON orders.id =  orderItems.order_id
        WHERE id = #{id}
    </select>

    <select id="findAll" resultMap="records.order">
        SELECT
        <include refid="columns.order"/>
        FROM orders
        LEFT JOIN orderItems ON orders.id =  orderItems.order_id
        WHERE user_id = #{userId}
    </select>

    <insert id="pay">
        insert into payments (order_id, type, amount)
        values (#{orderId}, #{info.pay_type}, #{info.amount});
    </insert>

    <select id="findPayment" resultMap="records.payment">
        SELECT *
        FROM payments
        where order_id = #{orderId}
    </select>


</mapper>
